.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.search-div{
  margin-bottom: 8px;
}

.single-post{
  background-color: #DAE0E6;
}

.auth {
  position: absolute;
    top: 0px;
    right: 0px;
    background-color: #fff;

}

.form-part {
  display: block;
  margin: auto;
  border-width:5px;  
  border-style:ridge;
  border-radius: .35rem;
  background-color: #fff;
  border-width: 2px;
  width: auto;
  max-width: 600px;

}

.form-part label {
  display: block;
  margin: 10px 0 0;
}

.content-page{
  margin: auto;
  border-width:5px;  
  border-style:ridge;
  border-radius: .35rem;
  background-color: #DAE0E6;
  border-width: 2px;
  width: auto;
  max-width: 600px;
  margin-bottom: 10px;


}

.content-page img{
width:50%;
height:50%;
}

.footer {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.footer-container{
  margin: auto;
  border-width:2px;  
  border-style:ridge;
  border-radius: .35rem;
  border-width: 2px;
  width: auto;
  background-color: #DAE0E6;
}

.footer-container a{
  margin: 10px 10px 10px 10px;
}

.footer-container p{
  font-size: smaller;
  color: black;
  clear: both;
}
.home-page{
  position: absolute;
    top: 0px;
    right: 0px;
}

.main-div{
  margin-top: 27px;
  background-color: #fff;

}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header3{
  justify-content: center;
  position: relative;
  top: 22px; 
  background-color: #fff;


}
.App-header3 h1{
  justify-content: center;
  position: relative;
  top: -50px; 
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
